body, html, footer, ul {
  margin: 0;
  height: 100%;
}

.container-landing {
  background-color: rgba(235, 228, 209, 1);
  height: 100%;
}

.landing {
  display: flex;
  justify-content: center;
}

#bodhidharma-img {
  width: 25%;
}

#bodhidharma-img img {
  width: 100%;
  margin-top: 6vw;
  transition: 0.5s ease-in-out;
}

#bodhidharma-img img:hover {
  animation: shake 2s; 
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.navbar {

	background:
    /* top gradient */
    linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5)
    ),
    /* bottom, image */
    url(../images/navbar-background2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.title {
  display: flex;
  justify-content: center;
  font-family: 'Spectral SC', serif;
  font-size: calc(70% + 1vw);
}

.title a, h1 {
  margin: 0;
  text-decoration: none;
  color: black;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  font-family: 'Raleway', sans-serif;
  font-size: calc(70% + 1vw);
  margin-top: 3vw;
  padding-bottom: 0.25vw;
}

.navbar-links a {
  text-decoration: none;
  color: black;
  padding-bottom: 5px;
  transition: 0.25s ease-in-out;
}

.navbar-links a:hover {
	box-shadow:0px -3px 0 #284872 inset;
	
}

.navbar-links a:active {
	box-shadow:0px -3px 0 #284872 inset;
}

.active-link {
  box-shadow:0px -3px 0 #a0c1b8 inset;
}

body a {
  color: #284872;
  text-decoration: none;
}

h1, h2, h3, h4 {
  text-align: center;
}

.container-sub-landing {
  background: linear-gradient(
  	rgba(235, 228, 209, 1),
  	rgba(235, 228, 209, 0.5),
  	rgb(249, 248, 244),
  	rgb(249, 248, 244), 
  	rgb(249, 248, 244)
  	);
  margin-top: 0;
  padding: 3vw 20vw;
  font-family: 'Muli', sans-serif;
}

.wrapper {
  padding: 2vw;
}

.two-clm-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
  margin: 40px 0px;
}

.caption-img {
  background-color: #fffcf7;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.caption-img p {
  font-style: italic;
  text-align: center;
}

.single-img {
  background: white;
  width: 50%;
}

.small-link {
  font-size: 10px;
}

.two-clm-grid img {
  width: 100%;
}

.link, .website {
	text-decoration: none;
	color: green;
}

.quote {
  border-left: 3px solid #284872;
  background-color: rgba(235, 228, 209, 0.6);
  margin: 10px 0px;
  padding: 10px 0px 10px 20px;
 -webkit-box-shadow: 4px 0px 15px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 0px 15px -6px rgba(0,0,0,0.75);
box-shadow: 4px 0px 20px -10px rgba(0,0,0,0.75);
}

.quote cite {
  font-size: 13px;
  display: block;
  margin-top: 8px;
}

.center-img {
  display: block;
  margin: auto;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 21px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 21px -5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 21px -5px rgba(0,0,0,0.75);
}

footer {
	height: 15vw;
	background-color: #DEC7A5;
	font-family: 'Muli', sans-serif;
	font-size: 1.5vw;
}

footer ul {
	display: flex;
	justify-content: center;
	align-items: center;
  padding-left: 0px;
}

footer li {
	list-style: none;
	padding: 0vw 1vw;
	color: #284872
}


/*code for tablets*/

@media screen and (max-width: 1024px) {
  
#bodhidharma-img {
  width: 55%;
}
}

@media screen and (max-width: 768px) {

#bodhidharma-img {
  width: 65%;
}
}

/*code for phones*/


@media screen and (max-width: 550px) {


#bodhidharma-img {
  width: 75%;
}

#bodhidharma-img img {
  width: 100%;
  margin-top: 6vw;
  transition: 0.5s ease-in-out;
}

.navbar-links {
  font-size: calc(60% + 1vw);
  margin-top: 3vw;
  padding: 0vw 1vw 0.25vw 1vw;
}

.container-sub-landing {
  padding: 3vw 2vw;
  font-family: 'Muli', sans-serif;
}

.wrapper {
  padding: 2vw;
}

.two-clm-grid {
  grid-template-columns: 100%;
  grid-gap: 30px;
  margin: 40px 0px;
}

footer {
  height: 25vw;
  font-size: 3vw;
}

}
